{% extends 'base.html' %}

{% block content %}


<h1>Hello from Home.html webpage</h1>
{% for product in products %}
<h4>Product: {{product.name}}</h4>
Product category: {{product.category}}
<p><a href="{% url 'products' product.pk%}">Go to product!</a></p>


{% endfor %}


{% endblock %}




