{% extends 'base.html' %}

{% block content %}

<h1>Hello from Products.html webpage</h1>
<h3>{{products}}</h3>
<p>Product name: {{products.name}}</p>
<p>Price: {{products.price}}</p>
<p>"{{products.image}}"</p>
<p>Category: {{products.category}}</p>


{% endblock %}


